.home img {
  margin: 0 auto;
  display: block;
  width: 75%;
}

.home h2 {
  text-align: center;
}

.home .game-type-row p {
  width: 82px;
}

.home .game-type-row div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.home input {
  width: calc(100% - 2rem);
  max-width: 350px;
}

.home button.active {
  background-color: #094cb0;
}

#root div div.home div:nth-child(7) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  margin-bottom: 24px;
}

.home button {
  width: 100%;
  margin-bottom: 4px;
}

#root div div.home a:nth-child(9) button {
  background: 0 0;
  box-sizing: border-box;
  color: #007bff;
  cursor: pointer;
  font: 16px/24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root div div.home a:nth-child(9) button:hover {
  background-color: #0d6efd;
  color: #fff;
}
