.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  color: #212529;
  padding: 1rem;
  height: calc(100vh - 2rem);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 10px;
}
